.max-w {
    width: 600px;
    margin-bottom: 20px;

    img {
        width: 566px;
    }
}

.min-h {
    min-height: 48px;
    margin-bottom: 5px;
}

body {
    margin: 0;
    padding: 0;

    a {
        color: white;
    }
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        padding-left: 10px;
    }
}

a {
    padding: 10px;
}

.imgLink {
    padding: 0;
}

main {
    padding-left: 10px;
}

footer {
    padding-left: 10px;
}

.active {
    color: aqua;
}