body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        padding-left: 10px;
    }
}

a {
    padding: 10px;
    color: white;
}

main {
    padding-left: 10px;
}

footer {
    padding-left: 10px;
}

.active {
    color: aqua;
}